@page "/"

<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="hydro-config" />

  <script src="~/hydro.js" asp-append-version="true"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Hydro Todo</title>
</head>

<body class="bg-gray-200">

<header class="bg-black text-white p-4">
  <h1 class="text-2xl font-bold">Hydro Tasks</h1>
</header>

<todos />

</body>
</html>